[submodule "bundle/master"]
	path = bundle/master
	url = http://git.wincent.com/command-t
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git@github.com:jngeist/vimconfig.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-multimarkdown"]
	path = bundle/vim-multimarkdown
	url = git@github.com:jngeist/vim-multimarkdown.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/vim-scripts/jsbeautify.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/mhz/vim-matchit.git
[submodule "bundle/vim-obvious"]
	path = bundle/vim-obvious
	url = https://github.com/vim-scripts/Obvious-Mode.git
[submodule "bundle/vim-rainbow"]
	path = bundle/vim-rainbow
	url = https://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
[submodule "bundle/vim-jpythonfold"]
	path = bundle/vim-jpythonfold
	url = https://github.com/vim-scripts/jpythonfold.vim.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-lusty"]
	path = bundle/vim-lusty
	url = https://github.com/sjbach/lusty.git
